#tile {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}
svg {
  width: 100%;
  height: 100%;
}
circle {
  fill: #fff;
  r: 0;
  animation-name: drop;
  animation-duration: 2s;
}

@keyframes drop {
  from {r: 2%; fill: #00f;}
  to {r: 0; fill: #fff;}
}